In [2]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/global_sales_data/master.csv')
data

,Unnamed: 0,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,...,Customer_Name,Province,Region,Customer_Segment,Order_ID_y,Ship_Mode,Ship_Date,Ship_Month,Ship_Year,Duration
0,0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,36262,REGULAR AIR,2010-07-28,7,2010,1 days 00:00:00.000000000
1,1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,36262,EXPRESS AIR,2010-07-27,7,2010,0 days 00:00:00.000000000
2,2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,36262,EXPRESS AIR,2010-07-28,7,2010,1 days 00:00:00.000000000
3,3,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,20513,EXPRESS AIR,2009-08-07,8,2009,31 days 00:00:00.000000000
4,4,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,39682,EXPRESS AIR,2010-11-11,11,2010,61 days 00:00:00.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,8394,Ord_973,Prod_8,SHP_1343,Cust_357,29.05,0.08,4,-20.90,4.32,...,THEONE PIPPENGER,BRITISH COLUMBIA,WEST,CORPORATE,40259,EXPRESS AIR,2010-10-13,10,2010,-58 days +00:00:00.000000000
8395,8395,Ord_1832,Prod_8,SHP_2526,Cust_636,57.03,0.00,7,-31.38,3.52,...,TOM PRESCOTT,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS,36230,REGULAR AIR,2009-10-06,10,2009,0 days 00:00:00.000000000
8396,8396,Ord_2010,Prod_8,SHP_2748,Cust_760,282.58,0.10,36,21.68,1.99,...,TRACY PODDAR,NOVA SCOTIA,ATLANTIC,CORPORATE,18534,EXPRESS AIR,2011-12-30,12,2011,0 days 00:00:00.000000000
8397,8397,Ord_2988,Prod_14,SHP_4132,Cust_1105,9262.35,0.09,47,2787.59,24.49,...,BECKY MARTIN,ONTARIO,ONTARIO,HOME OFFICE,23616,REGULAR AIR,2012-08-28,8,2012,0 days 00:00:00.000000000
8398,8398,Ord_1096,Prod_14,SHP_1512,Cust_423,2222.61,0.02,3,196.08,24.49,...,LYCORIS SAUNDERS,ONTARIO,ONTARIO,HOME OFFICE,38693,REGULAR AIR,2011-06-21,6,2011,7 days 00:00:00.000000000

In [5]:
data.Customer_Segment.nunique()

4

In [4]:
data.Customer_Segment.value_counts()

CORPORATE         3076
HOME OFFICE       2032
CONSUMER          1649
SMALL BUSINESS    1642
Name: Customer_Segment, dtype: int64

In [7]:
Sales_Segments = []
for s

segment in segments:
    Sales_Segments.append(
    (data['Sales'][data.Customer_Segment == segment]).sum)
Sales_Segments

NameError: name 'segments' is not defined

In [8]:
data_cust = data.groupby('Customer_Segment')
data_cust.Sales.sum()

Customer_Segment
CONSUMER          3.063611e+06
CORPORATE         5.498905e+06
HOME OFFICE       3.564764e+06
SMALL BUSINESS    2.788321e+06
Name: Sales, dtype: float64

In [9]:
data_cust.mean()

,Unnamed: 0,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Order_ID_x,Order_Month,Order_Year,Order_ID_y,Ship_Month,Ship_Year
Customer_Segment,,,,,,,,,,,,,
CONSUMER,4377.628260,1857.859965,0.049903,25.324439,174.627010,13.024748,0.512905,29651.300788,6.588842,2010.428745,29651.300788,6.548211,2010.434203
CORPORATE,4083.600130,1787.680389,0.049841,25.525683,194.975943,12.698911,0.512783,29526.969766,6.560143,2010.500325,29526.969766,6.561118,2010.505202
HOME OFFICE,4090.750492,1754.312931,0.049444,25.987697,156.670290,12.771757,0.513608,30227.655020,6.528051,2010.504429,30227.655020,6.553150,2010.507874
SMALL BUSINESS,4369.752132,1698.124841,0.049403,25.391596,192.270408,12.995840,0.510258,30776.489647,6.709501,2010.476248,30776.489647,6.584653,2010.482948

In [11]:
data.groupby(['Order_Year','Order_Month']).Sales.sum()

Order_Year  Order_Month
2009        1              379695.0180
            2              336525.2050
            3              411076.4110
            4              439218.8355
            5              382541.0940
            6              286397.2530
            7              339817.0355
            8              301470.8270
            9              307395.8935
            10             346021.8880
            11             265888.1155
            12             413091.8795
2010        1              240197.9760
            2              243504.4415
            3              273429.5910
            4              242681.2995
            5              272234.3790
            6              279740.5190
            7              283801.7100
            8              212134.3055
            9              463269.2195
            10             350759.6650
            11             323332.1120
            12             364595.5865
2011        1              191642.3765
            2              286007.3815
            3              311709.1650
            4              325909.2735
            5              315211.8710
            6              253306.7455
            7              268256.9980
            8              247245.7245
            9              221745.5960
            10             362875.2945
            11             365289.9605
            12             287616.3155
2012        1              346449.7220
            2              404735.7155
            3              285669.4090
            4              249147.6945
            5              369417.4365
            6              300335.2720
            7              315713.9180
            8              183279.7080
            9              325792.7560
            10             360129.3905
            11             298018.1880
            12             281274.6520
Name: Sales, dtype: float64

In [12]:
data.groupby(['Order_Year','Order_Month']).Sales.sum().idxmin()

(2012, 8)

In [15]:
data.groupby(['Product_Category','Product_Sub_Category'])\
                [['Profit','Sales']].sum()

                                                    Profit        Sales
Product_Category Product_Sub_Category
FURNITURE        BOOKCASES                       -33582.13   822652.040
                 CHAIRS & CHAIRMATS              149649.73  1761836.550
                 OFFICE FURNISHINGS              100427.93   698093.810
                 TABLES                          -99062.50  1896008.142
OFFICE SUPPLIES  APPLIANCES                       97158.06   736991.540
                 BINDERS AND BINDER ACCESSORIES  307413.39  1022957.590
                 ENVELOPES                        48182.60   174085.800
                 LABELS                           13677.17    38981.550
                 PAPER                            45263.20   446452.860
                 PENS & ART SUPPLIES               7564.78   167107.220
                 RUBBER BANDS                      -102.67    15006.630
                 SCISSORS, RULERS AND TRIMMERS    -7799.25    80996.310
                 STORAGE & ORGANIZATION            6664.15  1070182.600
TECHNOLOGY       COMPUTER PERIPHERALS             94287.48   795875.940
                 COPIERS AND FAX                 167361.49  1130361.300
                 OFFICE MACHINES                 307712.93  2168697.140
                 TELEPHONES AND COMMUNICATION    316951.62  1889313.802

In [18]:
data['Profit']

0        -30.51
1       1148.90
2        -47.64
3          4.56
4        729.34
         ...
8394     -20.90
8395     -31.38
8396      21.68
8397    2787.59
8398     196.08
Name: Profit, Length: 8399, dtype: float64

In [20]:
def is_profitable(x):
    return x>0

In [21]:
data['Profit'].apply(is_profitable)

0       False
1        True
2       False
3        True
4        True
        ...
8394    False
8395    False
8396     True
8397     True
8398     True
Name: Profit, Length: 8399, dtype: bool

In [ ]:
Update the profit column values with single decimal point

In [22]:
data.pivot_table(values='Sales',
                index='Customer_Segment')

                        Sales
Customer_Segment
CONSUMER          1857.859965
CORPORATE         1787.680389
HOME OFFICE       1754.312931
SMALL BUSINESS    1698.124841

In [23]:
data.pivot_table(values='Sales',
                index='Customer_Segment',
                columns='Product_Category')

Product_Category    FURNITURE  OFFICE SUPPLIES   TECHNOLOGY
Customer_Segment
CONSUMER          3153.092777       799.285815  2918.830136
CORPORATE         2942.876104       798.402161  3007.534303
HOME OFFICE       3165.876645       838.475467  2742.959557
SMALL BUSINESS    2757.176869       826.097641  2852.441325

In [24]:
data.pivot_table(index='Customer_Segment')

,Discount,Order_ID_x,Order_ID_y,Order_Month,Order_Quantity,Order_Year,Product_Base_Margin,Profit,Sales,Ship_Month,Ship_Year,Shipping_Cost,Unnamed: 0
Customer_Segment,,,,,,,,,,,,,
CONSUMER,0.049903,29651.300788,29651.300788,6.588842,25.324439,2010.428745,0.512905,174.627010,1857.859965,6.548211,2010.434203,13.024748,4377.628260
CORPORATE,0.049841,29526.969766,29526.969766,6.560143,25.525683,2010.500325,0.512783,194.975943,1787.680389,6.561118,2010.505202,12.698911,4083.600130
HOME OFFICE,0.049444,30227.655020,30227.655020,6.528051,25.987697,2010.504429,0.513608,156.670290,1754.312931,6.553150,2010.507874,12.771757,4090.750492
SMALL BUSINESS,0.049403,30776.489647,30776.489647,6.709501,25.391596,2010.476248,0.510258,192.270408,1698.124841,6.584653,2010.482948,12.995840,4369.752132

In [27]:
import numpy as np
data.pivot_table(values="Product_Base_Margin",
                 index='Customer_Segment',
                 aggfunc=np.sum)

                  Product_Base_Margin
Customer_Segment
CONSUMER                       838.60
CORPORATE                     1566.04
HOME OFFICE                   1036.46
SMALL BUSINESS                 831.21

In [28]:
data.pivot_table(values=['Product_Base_Margin','Profit'],
                index='Customer_Segment',aggfunc=[np.max,np.mean])

                                amax                          mean
                 Product_Base_Margin    Profit Product_Base_Margin      Profit
Customer_Segment
CONSUMER                        0.85  27220.69            0.512905  174.627010
CORPORATE                       0.85  14440.39            0.512783  194.975943
HOME OFFICE                     0.85  10521.33            0.513608  156.670290
SMALL BUSINESS                  0.85  13340.26            0.510258  192.270408

In [31]:
data.pivot_table(values=['Product_Base_Margin','Profit'],
                index='Customer_Segment',
                aggfunc={'Product_Base_Margin':np.max,'Profit':np.mean})

                  Product_Base_Margin      Profit
Customer_Segment
CONSUMER                         0.85  174.627010
CORPORATE                        0.85  194.975943
HOME OFFICE                      0.85  156.670290
SMALL BUSINESS                   0.85  192.270408

### Get the categorical column names
- data.dtypes
- data.columns
- Fancy Indexing

In [32]:
data.describe(include=object).columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Product_Category',
       'Product_Sub_Category', 'Order_Date', 'Order_Priority', 'Customer_Name',
       'Province', 'Region', 'Customer_Segment', 'Ship_Mode', 'Ship_Date',
       'Duration'],
      dtype='object')