In [62]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/Student%20Data%20ML%20Jan%20(Responses)%20-%20Form%20responses%201.csv')
data.info()

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [3]:
data.Qualification

0     B.Tech
1         PG
2         PG
3         PG
4      BTech
5     B.Tech
6     B.Tech
7     B.Tech
8       M.sc
9         PG
10       Msc
11       MCA
12    B.Tech
13    B.TECH
14       MSc
15    B.Tech
16    B.Tech
17    B.tech
18    degree
19    Degree
20       MCA
21      M.Sc
22    B.TECH
23    B-tech
24    B.TECH
25       B.E
Name: Qualification, dtype: object

In [4]:
data.loc[0:,'Qualification']

0     B.Tech
1         PG
2         PG
3         PG
4      BTech
5     B.Tech
6     B.Tech
7     B.Tech
8       M.sc
9         PG
10       Msc
11       MCA
12    B.Tech
13    B.TECH
14       MSc
15    B.Tech
16    B.Tech
17    B.tech
18    degree
19    Degree
20       MCA
21      M.Sc
22    B.TECH
23    B-tech
24    B.TECH
25       B.E
Name: Qualification, dtype: object

In [5]:
data['Qualification']

0     B.Tech
1         PG
2         PG
3         PG
4      BTech
5     B.Tech
6     B.Tech
7     B.Tech
8       M.sc
9         PG
10       Msc
11       MCA
12    B.Tech
13    B.TECH
14       MSc
15    B.Tech
16    B.Tech
17    B.tech
18    degree
19    Degree
20       MCA
21      M.Sc
22    B.TECH
23    B-tech
24    B.TECH
25       B.E
Name: Qualification, dtype: object

In [6]:
data[data.Qualification=='B.Tech']

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002

In [7]:
data['MailId'][data.Qualification=='B.Tech']

0     sainagarajusakhamuri99@gmail.com
5              geethamuppuri@gmail.com
6               muvvanikhita@gmail.com
7             pavandasari226@gmail.com
12           kavyathatavarti@gmail.com
15            devendra108148@gmail.com
16          ramya.marripoodi@gmail.com
Name: MailId, dtype: object

In [12]:
data['RollNumber'][data.Branch == 'Data Science']

8     121822502015
14    121822502018
21    121822502016
Name: RollNumber, dtype: object

In [13]:
data['RollNumber'][data.Branch == 'I.T']

22    161FA07012
24    161FA07025
Name: RollNumber, dtype: object

In [18]:
import re
for i in data["Branch"]:
    if re.search("IT" or "I.T" or "Information Technology" ,i):
        print(i)

IT
IT

In [21]:
((data.Branch=="IT")|(data.Branch=="I.T")).sum()

4

In [28]:
data.Qualification[data.Qualification=='B.tech'] = 'B.Tech'

In [ ]:
data.Qualification

In [36]:
data.set_index('RollNumber',inplace=True)

KeyError: "None of ['RollNumber'] are in the columns"

In [30]:
data

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.Tech
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E

In [37]:
data.sort_values('Qualification')

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.Tech
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree

In [43]:
college = pd.read_csv('college.csv')
college

     RollNumber College  Year
0    161FA07035  vignan  2020
1  121822502015    MVSR  2016
2    14F41A0461     ASN  2018
3    161FA07012  vignan  2020

In [44]:
pd.merge(data,college,how='left')

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [ ]:
## data,college
- inner - Student availble in both dataframes(intersection)
- outer - student who are there in atleast one dataframe(union)-->27
- left - RollNumber availble in Data --->26
- Right - Roll Number availble in college

Different column names in two dataframes
college - 'Roll Number'
data- 'Roll Number'

In [47]:
college = pd.read_csv('college.csv')
college.columns

Index(['Roll Number', 'College', 'Year'], dtype='object')

In [48]:
data.columns

Index(['Timestamp', 'Name', 'MailId', 'Branch', 'Qualification'], dtype='object')

In [51]:
college

    Roll Number College  Year
0    161FA07035  vignan  2020
1  121822502015    MVSR  2016
2    14F41A0461     ASN  2018
3    161FA07012  vignan  2020

In [52]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : tuple of (str, str), default ('_x', '_y')
        Suffix to apply to overlapping column names in the left and right
        side, respectively. To raise an exception on overlapping columns use
        (False, False).
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

        .. versionadded:: 0.21.0

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------

    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

In [54]:
pd.merge(data,college,left_on="RollNumber",right_on='Roll Number')

,Timestamp,Name,MailId,Branch,Qualification,Roll Number,College,Year
0,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015,MVSR,2016
1,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035,vignan,2020
2,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461,ASN,2018
3,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012,vignan,2020

In [42]:
data

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.Tech
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E

In [57]:
common_data.drop('Roll Number',axis=1,inplace=True)

NameError: name 'common_data' is not defined

In [58]:
data.Timestamp

RollNumber
161FA07039      30/01/2020 15:00:07
121722501019    30/01/2020 15:00:20
121722501015    30/01/2020 15:00:23
121722501002    30/01/2020 15:00:25
161fa04079      30/01/2020 15:00:28
161FA04180      30/01/2020 15:00:28
161FA04106      30/01/2020 15:00:33
161FA07042      30/01/2020 15:00:37
121822502015    30/01/2020 15:00:39
121722501011    30/01/2020 15:00:41
121822502017    30/01/2020 15:00:43
121722501026    30/01/2020 15:00:44
161FA07050      30/01/2020 15:00:45
161FA07035      30/01/2020 15:01:10
121822502018    30/01/2020 15:01:16
14F41A0461      30/01/2020 15:01:24
161FA07002      30/01/2020 15:01:35
161FA07049      30/01/2020 15:01:49
y167189053      30/01/2020 15:01:50
140082202030    30/01/2020 15:01:56
121722501013    30/01/2020 15:02:04
121822502016    30/01/2020 15:02:41
161FA07012      30/01/2020 15:02:49
133J1A0150      30/01/2020 15:02:59
161FA07025      30/01/2020 15:04:10
245112769310    30/01/2020 15:07:38
Name: Timestamp, dtype: object

In [59]:
type(data.Timestamp[0])

str

In [69]:
pd.to_datetime(data.Timestamp)

RollNumber
161FA07039     2020-01-30 15:00:07
121722501019   2020-01-30 15:00:20
121722501015   2020-01-30 15:00:23
121722501002   2020-01-30 15:00:25
161fa04079     2020-01-30 15:00:28
161FA04180     2020-01-30 15:00:28
161FA04106     2020-01-30 15:00:33
161FA07042     2020-01-30 15:00:37
121822502015   2020-01-30 15:00:39
121722501011   2020-01-30 15:00:41
121822502017   2020-01-30 15:00:43
121722501026   2020-01-30 15:00:44
161FA07050     2020-01-30 15:00:45
161FA07035     2020-01-30 15:01:10
121822502018   2020-01-30 15:01:16
14F41A0461     2020-01-30 15:01:24
161FA07002     2020-01-30 15:01:35
161FA07049     2020-01-30 15:01:49
y167189053     2020-01-30 15:01:50
140082202030   2020-01-30 15:01:56
121722501013   2020-01-30 15:02:04
121822502016   2020-01-30 15:02:41
161FA07012     2020-01-30 15:02:49
133J1A0150     2020-01-30 15:02:59
161FA07025     2020-01-30 15:04:10
245112769310   2020-01-30 15:07:38
Name: Timestamp, dtype: datetime64[ns]

In [75]:
data['Timestamp_dt'].dt.month

KeyError: 'Timestamp_dt'

In [76]:
data.Branch.value_counts()

Information Technology    4
MCA                       4
Data Science              3
CSE                       2
IT                        2
I.T                       2
Computer Science          2
B.Sc(comp)                1
b com(computers)          1
cse                       1
civil engineering         1
Automobile Engineering    1
DataScience               1
ECE                       1
Name: Branch, dtype: int64

In [77]:
data.Qualification.value_count()

AttributeError: 'Series' object has no attribute 'value_count'

In [78]:
data.describe

<bound method NDFrame.describe of                         Timestamp                       Name  \
RollNumber
161FA07039    30/01/2020 15:00:07              Sai Naga Raju
121722501019  30/01/2020 15:00:20                   R deepak
121722501015  30/01/2020 15:00:23              P K CHAITANYA
121722501002  30/01/2020 15:00:25                 B SRIKANTH
161fa04079    30/01/2020 15:00:28           Himaja cherukuri
161FA04180    30/01/2020 15:00:28              M.Geethanjali
161FA04106    30/01/2020 15:00:33                  M.Nikhita
161FA07042    30/01/2020 15:00:37           DASARI PAVAN SAI
121822502015  30/01/2020 15:00:39              B Jagan Mohan
121722501011  30/01/2020 15:00:41          k.parameswara rao
121822502017  30/01/2020 15:00:43           B.Ravindra kumar
121722501026  30/01/2020 15:00:44        P.M.S.Bhargav Kumar
161FA07050    30/01/2020 15:00:45      Thatavarti kavya sree
161FA07035    30/01/2020 15:01:10               Harish Bandi
121822502018  30/01/2020 15:01:16     M.Bhavani Sankar Reddy
14F41A0461    30/01/2020 15:01:24             Devendra Kumar
161FA07002    30/01/2020 15:01:35                    M.Ramya
161FA07049    30/01/2020 15:01:49            T.V.Naga Jyothi
y167189053    30/01/2020 15:01:50             Ananda Lakshmi
140082202030  30/01/2020 15:01:56                K . krishna
121722501013  30/01/2020 15:02:04       Md.Ali Asghar Khoyee
121822502016  30/01/2020 15:02:41           G. Vineeth Kumar
161FA07012    30/01/2020 15:02:49  JAYA NAVEEN KUMAR DUPPATI
133J1A0150    30/01/2020 15:02:59                   vikram S
161FA07025    30/01/2020 15:04:10            SAI TEJA JALADI
245112769310  30/01/2020 15:07:38         SAIKUMAR MANIKONDA

                                        MailId                  Branch  \
RollNumber
161FA07039    sainagarajusakhamuri99@gmail.com                      IT
121722501019            deepakrella9@gmail.com                     MCA
121722501015              chaitu1495@gmail.com                     MCA
121722501002           srikanthbisai@gmail.com                     MCA
161fa04079           himajacherukuri@gmail.com                     cse
161FA04180             geethamuppuri@gmail.com                     CSE
161FA04106              muvvanikhita@gmail.com                     CSE
161FA07042            pavandasari226@gmail.com  Information Technology
121822502015           bjaganmohan24@gmail.com            Data Science
121722501011    parameshkarumuri1997@gmail.com                     MCA
121822502017    ravindrakumarroyal12@gmail.com             DataScience
121722501026     bhargavperumalla123@gmail.com        Computer Science
161FA07050           kavyathatavarti@gmail.com                      IT
161FA07035             harishbandi12@gmail.com  Information Technology
121822502018       bhavanisankar5758@gmail.com            Data Science
14F41A0461            devendra108148@gmail.com                     ECE
161FA07002          ramya.marripoodi@gmail.com  Information Technology
161FA07049              tvnagajyothi@gmail.com  Information Technology
y167189053           p.anandalakshmi@gmail.com        b com(computers)
140082202030           saikamavarapu@gmail.com              B.Sc(comp)
121722501013             ali95asghar@gmail.com        Computer Science
121822502016             121822502016@gitam.in            Data Science
161FA07012         duppatijayanaveen@gmail.com                     I.T
133J1A0150       vikramsabbavarapu60@gmail.com       civil engineering
161FA07025         saitejajaladi2000@gmail.com                     I.T
245112769310             saikumarm64@gmail.com  Automobile Engineering

             Qualification
RollNumber
161FA07039          B.Tech
121722501019            PG
121722501015            PG
121722501002            PG
161fa04079           BTech
161FA04180          B.Tech
161FA04106          B.Tech
161FA07042          B.Tech
121822502015          M.sc
121722501011            PG
121822502017           Msc
121722501026           MCA
161FA07050          B.Tech
161FA07035          B.TECH
121822502018           MSc
14F41A0461          B.Tech
161FA07002          B.Tech
161FA07049          B.Tech
y167189053          degree
140082202030        Degree
121722501013           MCA
121822502016          M.Sc
161FA07012          B.TECH
133J1A0150          B-tech
161FA07025          B.TECH
245112769310           B.E  >

In [79]:
data.describe(include=object)

,Timestamp,Name,MailId,Branch,Qualification
count,26,26,26,26,26
unique,25,26,26,14,13
top,30/01/2020 15:00:28,B.Ravindra kumar,tvnagajyothi@gmail.com,Information Technology,B.Tech
freq,2,1,1,4,8

### Sales data
- Market Fact
- cust Dimen
- Product dimen
- Order Dimensions
- ship Dimensions

- Read the Market Fact data into market_df
- Display the top five rows
- Display the last three rows
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Print the row indices of the dataframe
- Check the dtype of each and every columns
- Description for Numerical Column min,max,count,25%,50%,75%,std
- Description for the categorical Columns count,top,freq
- Missing value count column wise
- Total Missing values count in the DataFrame
- Check the output for the info function
- Access 3,5,7 columns using iloc,loc and without using any of them
- How many unique products are there
- How amny unique customers are there
- What is the maximum sales

In [81]:
data = pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/global_sales_data/market_fact.csv')
data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [82]:
data.head(5)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [83]:
data.tail(3)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.05,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.87,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.69,0.00,47,131.39,4.86,0.38

In [84]:
data.shape[0]

8399

In [85]:
data.shape[1]

10

In [94]:
data.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [98]:
data.index

RangeIndex(start=0, stop=8399, step=1)

In [101]:
data.dtypes

Ord_id                  object
Prod_id                 object
Ship_id                 object
Cust_id                 object
Sales                  float64
Discount               float64
Order_Quantity           int64
Profit                 float64
Shipping_Cost          float64
Product_Base_Margin    float64
dtype: object

In [108]:
data.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000